:root {
	--font-title: "Elsie Swash Caps", serif;
	--font-default: "Montserrat", sans-serif;
	--font-color: #202020;
	--color-yellow: #ffcb47;
	--color-white: #ffffff;
}

body,
html,
#root {
	width: 100%;
	min-height: 100vh;
	font-family: var(--font-default);
	position: relative;
}
